@charset "utf-8";
/* ----------------------------------------------------------------------------------------- 
____________________________________________________________________

"Screen" Style Sheet

@Project by - Deepan Rajkuamr
Description: My Personal Site
Author: Deepan Rajkumar
Author URI: http://deepanrajkumar.com
Version: 1.0
____________________________________________________________________

----------------------------------------------------------------------------------------- */

* {	margin:0;	padding:0;}
a {	color:#8FC2FF;	text-decoration: none;	outline: none;}
a:hover {text-decoration: underline;}
img {border:none;}
body {overflow:hidden;/*Needed to eliminate scrollbars*/background: url(../images/layout/mypic-mob.jpg) no-repeat center 185px #000;padding:0;margin:0;	border:0; font-family:"Lucida Grande","AniversRegular","Lucida Sans Unicode",sans-serif; font-size:12px; color: #FFF;}
#container {margin:0px auto;height:100%;width:100%;	z-index: 3;	position:absolute;}
#loading {position: absolute;top: 49.5%;left: 49.5%;z-index: 3;	width: 24px;height: 24px;	text-indent: -999em;background-image: url(../images/background/progress.gif);}
#supersize {position:fixed;}
#supersize img, #supersize a {height:100%;width:100%;position:absolute;z-index: 0;}
#supersize .prevslide, #supersize .prevslide img {	z-index: 1;}
#supersize .activeslide, #supersize .activeslide img {	z-index: 2;}

@font-face {
	font-family: 'AniversRegular';
	src: url('../fonts/anivers_regular-webfont.eot');
	src: local('AniversRegular'), url('../fonts/anivers_regular-webfont.woff') format('woff'), url('../fonts/anivers_regular-webfont.ttf') format('truetype'), url('anivers_regular-webfont.svgz#webfontxuw1HzNy') format('svg'), url('../fonts/anivers_regular-webfont.svg#webfontxuw1HzNy') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* ================ [ Menu ] ================ */
#menu-pos {	display:block;	margin:0 auto;	background:url(../images/layout/menu_bg.png) repeat-x top center;	height: 30px;	width:100%;	}
div#bmenu {	display:block;	margin:0 auto;	background:url(../images/layout/menu_bg.png) repeat-x top center;	height: 30px;	width:100%;}
div#bmenu ul {	margin: 0 auto;	padding: 0;	list-style: none;	float: left;	display:block;
}
div#bmenu ul.menu {}
div#bmenu li {	position: relative;	margin: 0;		display: block;	float: left;	z-index: 9;}
div#bmenu li.last {	background: none;}
div#bmenu li div {	list-style: none;float: left;position: absolute;z-index: 11;left: -10px;
visibility: hidden;}
div#bmenu li div ul {}
div#bmenu li:hover>div {visibility: visible;}
div#bmenu a {padding: 0;position: relative;z-index: 10;display: block;float: left;	text-decoration: none;font: normal 12px "Lucida Grande","AniversRegular","Lucida Sans Unicode",sans-serif;
color: #fff;margin: 0  auto;white-space: nowrap;width: 73px;text-align:center;height: 30px;padding:2px 3px 0px 0px;}
div#bmenu span {display: block;cursor: pointer;font-size: 12px;text-align: center;color: #333;font-family:"Lucida Grande","AniversRegular","Lucida Sans Unicode",sans-serif;font-variant:normal;text-shadow:1px 1px 0px #bfbfbf; }
/* lava lamp */
div#bmenu li.back {background: url(../images/layout/selected-left.png) no-repeat 0 0;width: 73px;height: 21px;z-index: 8;position: absolute;padding: 0;}
.time-display{ border:0; outline:0; padding:0;margin:3px 0px 0px 0px; font-family:"Lucida Grande","AniversRegular","Lucida Sans Unicode",sans-serif; font-size:12px; float:right; background:none; width:70px; text-shadow:1px 1px 0px #bfbfbf; color:#333; }
.date-display{ border:0; outline:0; padding:0;margin:3px 0px 0px 0px; font-family:"Lucida Grande","AniversRegular","Lucida Sans Unicode",sans-serif; font-size:12px; float:right; background:none; width:28px; text-shadow:1px 1px 0px #bfbfbf; color:#333; }

/* ================ [ Stack Dock ] ================ */
.stack { position: fixed; bottom: 0px; right: 40px; }
.stack > img { position: relative; cursor: pointer; padding-top: 35px; z-index: 2; }
.stack ul { list-style: none; position: absolute; top: 5px; cursor: pointer; z-index: 1; }
.stack ul li { position: absolute; }
.stack ul li img { border: 0; }
.stack ul li span { display: none; text-decoration:none; }
.stack .openStack li span { font-family: "Lucida Grande","AniversRegular","Lucida Sans Unicode",sans-serif; display:block;height: 14px;position:absolute;top: 17px;right:60px;line-height: 14px;border: 0;background-color:#000;padding: 3px 10px;border-radius: 10px;-webkit-border-radius:10px;-moz-border-radius: 10px;color: #fcfcfc;text-align: center;text-shadow: #000 1px 1px 1px;opacity: .85;filter: alpha(opacity = 85); -moz-text-shadow: #000 1px 1px 1px; -webkit-text-shadow: #000 1px 1px 1px; text-decoration:none;}
/* IE Fixes */
.stack { _position: absolute; }
.stack ul { _z-index:-1; _top:-15px; }
.stack ul li { *right:5px; text-decoration:none;}

/* ================ [ DOCK 1 ] ================ */
#dock-wrap{ position: fixed; bottom: 0px; width:100%;}
#dock { repeat-x bottom; display:block; margin:0 auto;  }
.dock-container { position: relative; height: 50px; background:url(../images/layout/dock-bg.png) repeat-x bottom;}
a.dock-item { display: block; width: 50px; position: absolute; bottom: 0; text-align: center; text-decoration: none; color: #333;  }
.dock-item span { display: none; text-align:center; font-family:"Lucida Grande","AniversRegular","Lucida Sans Unicode",sans-serif; font-size:12px; color:#FFF; text-shadow:#000 0px -1px 2px ; -moz-text-shadow:#000 0 -1px 2px ;-webkit-text-shadow:#000 0 -1px 2px ; padding-bottom:10px; }
.dock-item img { border: 0; margin: 0px 10px 0px 0px; width: 100%;}

/* =contact section
----------------------------------------------------------------------------------------- */

contact_wraper{ }
#contact_wraper h2{ margin-top:20px;}
#addressDetails { float:left; width: 180px; margin: 0 20px 0 0; padding: 0 0 0 1px; border-right: 1px dotted #ccc;font-family: "Lucida Grande","AniversRegular","Lucida Sans Unicode",sans-serif;	font-size:12px;text-align: left;	color:#FFF;	line-height: 22px;	text-decoration:none;  
	    }
#addressDetails h3 { padding: 6px 0 6px 0; font: bold 14px/22px; color: #888; }
#contactForm { float: left; width: 240px; }

#note { color: #333; font: bold 11px/14px Arial, Helvetica, sans-serif; }
.notification_error { padding: 5px; border: 1px dotted #999; margin-bottom: 10px; color:#666666; font-family:"Lucida Grande","AniversRegular","Lucida Sans Unicode",sans-serif; }
.contact_heading {font-family:"Lucida Grande","AniversRegular","Lucida Sans Unicode",sans-serif;	font-size:20px;padding:10px 0px 0px 10px;}
.contact_text {font-family:"Lucida Grande","AniversRegular","Lucida Sans Unicode",sans-serif; font-size:12px;
padding:20px;line-height:22px;}
.contact-pic {float:left;border:medium #666;padding: 0 10px 0 10px;}

/* =form
----------------------------------------------------------------------------------------- */
form { padding: 0; margin: 0; font-family:"Lucida Grande","AniversRegular","Lucida Sans Unicode",sans-serif; font-size:12px;text-align: left;color:#FFF;line-height: 20px;	text-decoration: none;	vertical-align: top; }
fieldset { clear: both;  }

form .field, form .buttons { padding-bottom: 10px;  }
form .field { padding-left: 80px; }

form .field label { display: inline; float: left; width: 80px; margin-left: -80px; }
label, button, input.submit { cursor: pointer; }

input.submit { margin-left: 80px; background-color: #ccc; border-top: 1px solid #eee; border-left: 1px solid #eee; border-bottom: 1px solid #aaa; border-right: 1px solid #aaa; color: #555; font-family:"Lucida Grande","AniversRegular","Lucida Sans Unicode",sans-serif;  }
input.reset { margin-left: 10px; }
input.submit:hover { background-color: #555; color: #fff; }

input.text, textarea { width: 250px; border-top: 1px solid #eee; border-left: 1px solid #eee; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; font-size: 12px; color: #555; }
input.text:focus, input.password:focus, textarea:focus, select:focus { background-color: #eee; }

#message{ padding: 0; margin: 0; font-family:"Lucida Grande","AniversRegular","Lucida Sans Unicode",sans-serif; font-size:12px;	text-align: left;	color:#333;	line-height: 22px;	text-decoration: none;	vertical-align: top; }

#email{ padding: 0; margin: 0; font-family:"Lucida Grande","AniversRegular","Lucida Sans Unicode",sans-serif;
font-size:12px;	text-align: left;color:#333;line-height: 22px;text-decoration: none;vertical-align: top; }
#name{ padding: 0; margin: 0; font-family:"Lucida Grande","AniversRegular","Lucida Sans Unicode",sans-serif;
	font-size:12px;text-align: left;color:#333;line-height: 22px;text-decoration: none;	vertical-align: top; }
.sendmail{ padding: 0; margin: 0; font-family:"Lucida Grande","AniversRegular","Lucida Sans Unicode",sans-serif; font-size:16px;text-align: center;color:#FFF;line-height: 24px;text-decoration: none;vertical-align: top; position:relative; top:-50px; }

/* ================ [ mobile site ] ================ */
#mobile-body{ background:url(../images/layout/mypic-mob.jpg) center top repeat-y #000;}
#contactForm-mob { float: left; width:100%; } 

#facebook-like{ width:450px; height:100px; display:block; margin: 0 auto; overflow:hidden; position: absolute; bottom:0; left:242px;  }
/* ================ [ Ads ] ================ */

#more{ margin:10px auto; padding:10px; display:block; }


/* IE6 css fixer v0.95: Thu, 06 Jan 2011 09:08:53 +0100 */

/* ============================================= */
/* safe settings                                 */

/* add display:inline to floated elements */
div#bmenu ul,
div#bmenu li,
div#bmenu li div,
div#bmenu a,
.time-display,
.date-display,
#addressDetails,
#contactForm,
.contact-pic,
form .field label,
#contactForm-mob {display:inline;}

/* fix negative margins */
form .field label {position:relative; zoom:1;}

/* add zoom:1 to overflow:hidden */
body,
#facebook-like {zoom:1;}

/* add zoom:1 to pos:relative elements */
div#bmenu li,
div#bmenu a,
.stack > img,
.dock-container,
.sendmail {zoom:1;}

/* add transparancy */
.stack .openStack li span {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=85);}


/* add overflow:visible to (submit) buttons */
 input, button {overflow:visible;}


/* ============================================= */
/* potentially harmful settings                  */

/* add zoom:1 to backgrounds -- Manually check for problems with inline elements! */
div#bmenu li.last,
div#bmenu li.back,
.time-display,
.date-display,
#mobile-body,
#menu-pos,
div#bmenu {zoom:1;}

/* PNG fix */
body{behavior: expression((this.runtimeStyle.behavior = "none") && (this.currentStyle.backgroundImage.toString().toLowerCase().indexOf('.png')>-1) && (this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.currentStyle.backgroundImage.toString().replace('url("','').replace('")','') + "', sizingMethod='crop')", this.runtimeStyle.zoom = 1, this.runtimeStyle.backgroundImage = "none"));}